VITE_SUPABASE_URL=https://hhhhsascjplhgktfvqmh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoaGhzYXNjanBsaGdrdGZ2cW1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MjA2MjUsImV4cCI6MjA4ODI5NjYyNX0.cxVzoJnIgR_5gHUnTxdRe5kDoArUHi-M4kMeJU-S-5U
VITE_ADMIN_EMAIL=fahimfahim27122003@gmail.com
